@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.container {
  @include mixin.inner;
}

.section {
  margin-top: 10vw;
  padding-top: var(--space-50);
  padding-bottom: var(--space-50);
  > * + * {
    margin-top: var(--space-content);
  }
}
