@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.container {
  position: fixed;
  z-index: -1;
  inset: 0;
  user-select: none;
  &.active {
    scroll-behavior: none;
  }
}

.content {
  margin-bottom: 10vw;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: mixin.myClamp(50, 100);
}

.card {
  width: fit-content;
}

.card__inner {
}

.card__thumbnail {
  aspect-ratio: 16/9;
  // max-width: mixin.myClamp(300, 600);
  opacity: 0.01;
  width: 25vw;
  border: 1px solid var(--white);
}

.card__title {
  color: var(--white);
}

.card__text {
  color: var(--white);
}

@include mixin.medium {
  //タブレット
  .card__thumbnail {
    width: 40vw;
  }
}
